.btn-search {
  background: $orange;
  color: $white;
  display: block;
  float: left;
  font-weight: $bold;
  margin: $spacing-md $spacing-sm 0 ;
  padding: $spacing-sm/1.5;
  text-decoration: none;
  text-transform: uppercase;

  img {
    height: 32px;
    width: auto;
  }

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.btn-concierge {
  background: $grey;
  color: $white;
  display: block;
  float: left;
  font-weight: $bold;
  margin: $spacing-md 0 0;
  padding: $spacing-sm/1.5;
  text-transform: uppercase;

  img {
    height: 32px;
    width: auto;
  }

  &:hover {
    color: $white;
    text-decoration: none;
  }
}
