// Grid settings
@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;

// Spacing
@spacing-sm: 12px;
@spacing-md: 24px;
@spacing-lg: 48px;


// Colors
@brand-primary:         #27ae60;

@blue: #37bbff;
@green: #74c707;
@pink: #ff09de;
@orange: #ff4c06;
@grey: #636363;
@black: #363636;

// Fonts
@museo: "museo-sans", sans-serif;
