.swatches {
  list-style: none;
  margin: 0 0 @spacing-md;
  padding: 0 0 0 15px;

  li {
    display: block;
    float: left;
    height: 5px;
    margin-right: 2px;
    width: 48px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;

    &.blue {
      background: @blue;
    }

    &.green {
      background: @green;
    }

    &.pink {
      background: @pink;
    }

    &.orange {
      background: @orange;
    }

    &.grey {
      background: @gray;
    }

    &:hover {
      height: 15px;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
    }
  }
}

.logotype {
    display: block;
    margin: @spacing-md auto @spacing-sm;
    text-align: center;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;

  &:hover {
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    filter: hue-rotate(180deg);
  	-webkit-filter: hue-rotate(180deg);
  	-moz-filter: hue-rotate(180deg);
  	-o-filter: hue-rotate(180deg);
  	-ms-filter: hue-rotate(180deg);
  }
}

.navbar {
  margin: @spacing-md 0 @spacing-sm;
  background: none;
  border: none;
  text-transform: uppercase;

  .container {
    border-top: 1px solid @grey-light;
    border-bottom: 1px solid @grey-light;
  }

  .caret {
    display: none;
  }

  ul {
    width: auto;
    margin: 0;
  }

  li {
    margin: @spacing-xs @spacing-sm;
    text-align: left;

    a {
      font-size: @h3;
      font-weight: @bold;
    }

    &.menu-montreal {
      a {
        color: @blue;
      }

      &:hover {
        background: @blue;

        a {
          color: @white;
        }
      }
    }

    &.menu-culture  {
      a {
        color: @green;
      }

      &:hover {
        background: @green;

        a {
          color: @white;
        }
      }
    }

    &.menu-scene {
      a {
        color: @pink;
      }

      &:hover {
        background: @pink;

        a {
          color: @white;
        }
      }
    }

    &.menu-blogs {
      a {
        color: @orange;
      }

      &:hover {
        background: @orange;

        a {
          color: @white;
        }
      }
    }

    &.menu-concierge {
      a {
        color: @grey;
      }

      &:hover {
        background: @grey;

        a {
          color: @white;
        }
      }
    }
  }

  .et_social_networks {
    width: auto;
    float: right;
    margin: @spacing-sm;

    li {
        margin: 0 @spacing-xs;
        width: 40px;
      }
    }
  }
}
