article {
  margin: $spacing-sm 0 ;

  img {

    &.featured {
      min-width: 100%;
      background: $grey;
    }
  }

  a {
    color: $grey;

    &:hover {
      color: $blue;
      text-decoration: none;
    }
  }

  h2 {
    text-transform: uppercase;
    font-weight: $light;
    margin: $spacing-sm 0 0;
  }

  span {
      font-size: .65em;
      font-style: italic;
      font-weight: $light;
      margin: 0;
    }

  p {
    color: $grey;
    font-weight: $semibold;
    margin: $spacing-xs 0 0;

    a {
      color: $blue;
    }
  }
}
